node_modules
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
openapi.yaml
_scratch
resources/proto/generated
dist
docs/.vitepress/dist
docs/.vitepress/cache
docs/.yarn
docs-old
